<section class="about-container">
    <div class="about">
        <h2>Tentang Saya</h2>
        <p>Halo! Saya seorang desainer & pengembang web yang bersemangat dalam menciptakan pengalaman digital yang menarik dan fungsional.</p>
        <p>Namaku Hasby Nasution. Saya sedang mencari pengalaman dalam desain UI/UX, front-end development, dan pengembangan aplikasi berbasis web.</p>
        <p>Saya selalu tertarik dengan teknologi terbaru dan senang mempelajari hal-hal baru untuk meningkatkan keterampilan saya.</p>
    </div>
</section>