<section class="portfolio">
    <h2>Portfolio</h2>
    <p>Berikut beberapa proyek yang pernah saya kerjakan:</p>
    <div class="portfolio-grid">
      <div class="portfolio-item">
      
        <h3>Proyek 1</h3>
        <p>Membuat kalkulator sederhana</p>
    </div>
    <div class="portfolio-item">
     
        <h3>Proyek 2</h3>
        <p>Mengembangkan Game Batu, Gungting, Kertas.</p>
    </div>
    <div class="portfolio-item">
        
        <h3>Proyek 3</h3>
        <p>Mengatasi tingkat login akun.</p>
    </div>
    </div>
  </section>